body {
    background-color: black;
}


/* nav */


/* end nav */


/* display movies */

#data .col-md-4 {
    height: 70vh;
}

.w-90 {
    width: 90%;
}

.w-10 {
    width: 10%;
}


/* layer hover */

#imgContainer {
    position: relative;
    overflow: hidden;
}

#imgContainer .img-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    transition: all 0.5s !important;
    opacity: 0;
}

#imgContainer:hover .img-layer {
    opacity: 1 !important;
    inset: 0;
}


/* end layer hover */


/* nav  */

#navLinks {
    position: fixed;
    bottom: 0;
    top: 0;
    width: 250px;
    transform: translateX(-250px);
    z-index: 555;
}

#ocordion {
    background-color: #F8F6F6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 250px;
    z-index: 666666;
    width: 50px;
}

.logoContainer {
    width: 100%;
}

#ocordion img {
    width: 100%;
}

#navLinks ul li {
    list-style: none;
    cursor: pointer;
    transition: all 1s;
    opacity: 0;
    padding-top: 500px;
}

#navLinks ul li:hover {
    color: darkred;
}

#closeIcon {
    display: none;
}

.socialMedia i {
    transition: all 1s;
}

.socialMedia i:hover {
    color: darkred;
}